
@import url("/bootstrap.css");
@font-face {font-family:"Aboriginal Serif";src:url("fonts/Aboriginal_Serif_REGULAR_939.eot?") format("eot"),url("fonts/Aboriginal_Serif_REGULAR_939.woff") format("woff"),url("fonts/Aboriginal_Serif_REGULAR_939.ttf") format("truetype"),url("fonts/Aboriginal_Serif_REGULAR_939.svg#AboriginalSerif") format("svg");font-weight:normal;font-style:normal;}


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #FF69B4;
    --secondary-color: #1438c7;
    --accent-color: #FFD700;
    --text-color: rgba(255, 255, 255, 0.83);
    --bgc: #ff0054;
    --button-color: #FFF799FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: cell !important;
}

a {
    color: rgba(0, 0, 0, 0.58);
    /*cursor: inherit;*/
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

a:visited {
    color: rgba(0, 0, 0, 0.58);
}

/* INIZIO TRANSIZIONE DA SFOCATURA */

.reveal {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(150px);
    transition: all 0.5s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.cartella1.reveal {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(50px);
    transition: all 0.3s ease;
}

.cartella1.reveal.active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

/* FINE TRANSIZIONE DA SFOCATURA */

/* ******************** INIZIO PRIMA PAGINA ******************** */
.page1 {

    display: flex;
    flex-direction: column;
    justify-content: normal;
    min-height: 100dvh;
    max-height: 100dvh;

}

.section1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background: #FF0054;
    transition: all 0.3s ease;
    z-index: 1;
    top: 0;
    max-width: 100%;
    min-width: 100%;

}

.section2 {
    display: flex;
    position: relative;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    background: #ffffff;
    transition: all 0.3s ease;
    max-width: 100%;
    min-width: 100%;
    min-height: 40dvh;
    z-index: 2;
}

.box1 {
    z-index: 1;
}

/* INIZIO titolo */
.title {
    position: relative;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 40dvh;
    max-height: 40dvh;
    top: -2.5dvh;
    margin: auto;
    color: white;
    z-index: 1;
    text-align: center;
    transition: all 0.3s ease;
}
/* FINE titolo */

/* INIZIO men첫 principale desktop */
.menu-container {
    justify-content: space-around;
    /*background:*/
    /*        linear-gradient(to top,*/
    /*        rgba(255, 255, 255, 0) calc(1.4dvh + 1.4vw),*/
    /*        rgb(255, 0, 84) 0*/
    /*        );*/
    /*background-size: 100% 150%, 100% 150%;*/

    flex-direction: row;
    display: flex;
    position: sticky;
    top: -1px;
    z-index: 8001;
    transition: color 0.3s ease, left 0.3s ease, top 0.3s ease, transform 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.menu {
    min-width: 100% !important;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.sticky-menu {

}

.nav {
    left: calc(-0.365dvh + -0.365vw);
    display: flex;
    position: relative;
    top: 4dvh;
    justify-content: center;
    flex-wrap: unset;
    gap: 2vw;
    z-index: 2;
}

.sticky-menu .nav {
    /*top: calc(-0.05vw + -0.05dvh);*/
    top: 0;
}

.nav a {
    z-index: 5;
    color: #5b5b5b;
    text-decoration: none;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: calc(2.91vw + 2.91dvh);
    line-height: calc(2.5vw + 2.5dvh);
    padding: calc(.1vw + .1dvh) calc(1.5vw + 1.5dvh);
    border-radius: 12px;
    background-color: rgb(255, 247, 153);
    box-shadow: 0 calc(.25vw + .25dvh) 0 0 rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.19);
    letter-spacing: -0.03em;
    transition: color 0.3s ease,
    border-color 0.3s ease,
    width 0.3s ease,
    height 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    top 0.3s ease,
    left 0.3s ease,
    right 0.3s ease,
    bottom 0.3s ease;
}

.sticky-menu .nav a {
    z-index: 5;
    color: #ffffff;
    text-decoration: none;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: calc(2.91vw + 2.91dvh);
    line-height: calc(3vw + 3dvh);
    padding: calc(.1vw + .1dvh) calc(1.5vw + 1.5dvh);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    letter-spacing: -0.03em;
    transition: color 0.3s ease,
    border-color 0.3s ease,
    width 0.3s ease,
    height 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    top 0.3s ease,
    left 0.3s ease,
    right 0.3s ease,
    bottom 0.3s ease;
}

.nav a:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

.sticky-menu .nav a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: var(--button-color);
    transform: scale(1.1);
}

/* INIZIO immagine centrale menu desktop */
.menu .nav a:nth-child(3) {

    background-color: rgba(255, 255, 255, 0);
    display: flex;
    padding: 0;
    transition: all 0.3s ease;
    z-index: 3;
    box-shadow: none;

}

.sticky-menu .nav a:nth-child(3) {
    top: 0;
    display: flex;
    transition: all 0.3s ease;
}

.menu .nav a .central-img-nav {

    width: 0;
    display: flex;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease;

}

.sticky-menu .nav a .central-img-nav {

    display: flex;
    width: calc(5.7vw + 5.7dvh);
    height: auto;
    opacity: 1;
    transition: all 0.3s ease;
    /*padding-top: 0.2vmin;*/
    /*padding-bottom: -0.2vmin;*/

}
/* FINE immagine centrale menu desktop */

/* INIZIO attacco e animazione menu desktop a bordo superiore */
.sticky-menu {
    position: sticky;
    background-color: var(--bgc);
    border-bottom: 1px solid rgba(255, 255, 255, 0.79);
    top: 0;
    transition: color 0.3s ease, left 0.3s ease, top 0.3s ease, transform 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.menu .nav a:nth-child(2) {
    margin-right: calc(-0.63vw + -0.63dvh);
}

.sticky-menu .nav a:nth-child(2) {
    margin-right: 1.5vw;
    transition: color 0.3s ease, left 0.3s ease, top 0.3s ease, transform 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.menu .nav a:nth-child(4) {
    margin-left: calc(-0.63vw + -0.63dvh);
}

.sticky-menu .nav a:nth-child(4) {
    margin-left: 1.1vw;
    transition: color 0.3s ease, left 0.3s ease, top 0.3s ease, transform 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}
/* FINE e animazione menu desktop a bordo superiore */
/* FINE men첫 principale desktop */

/* INIZIO men첫 a tendina versione mobile */
.container-menu3 {
    /*background-color: #FF0054;*/
    /*background-color: #FF0054;*/
    display: none;
    flex-direction: column;
    align-items: start;
    padding: calc(1dvh + 1vw) calc(1dvh + 1vw) calc(3dvh + 3vw) calc(1dvh + 1vw);
    justify-content: center;
    /*transition: all 0.3s ease;*/
    min-width: 100%;
    /*margin-bottom: -50px !important;*/
    position: sticky;
    top: 0;
    z-index: 8003;
}

/* INIZIO MENU SOLIDO */
.container-menu3.scrolled {

    overflow: hidden;
    background:
            linear-gradient(to top,
            rgba(255, 255, 255, 0) calc(2dvh + 2vw),
            rgb(255, 0, 84) 0
            );
    background-size: 100% 100%, 100% 100%;
    transition: all 0.3s ease;

}

.container-menu3.scrolled::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
}

.container-menu3.scrolled::after {
        content: "";
        position: absolute;
        bottom: calc(2dvh + 2vw);
        left: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.79);
}
/* FINE MENU SOLIDO */

/* INIZIO MENU TRASPARENTE */

/*.container-menu3.scrolled {*/

/*    overflow: hidden;*/

/*}*/

/*.container-menu3.scrolled::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background:*/
/*            linear-gradient(to top,*/
/*            rgba(255, 255, 255, 0) calc(2dvh + 2vw),*/
/*            rgb(255, 0, 84) 0*/
/*            );*/
/*    background-size: 100% 100%, 100% 100%;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.container-menu3.scrolled::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: calc(2dvh + 2vw);*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    backdrop-filter: blur(5px);*/
/*    border-bottom: 1px solid rgba(255, 255, 255, 0.29);*/
/*}*/
/* FINE MENU TRASPARENTE */

.header-menu3 {
    text-align: center;
}
.plus-icon {
    width: calc(10% + 5dvh);

    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 100;
}
.plus-icon:hover {
    transform: rotate(90deg);
}
.menu3 {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    min-width: 100%;
    max-width: 100%;
    /*margin-bottom: -21px;*/
    z-index: 99;

}
.menu3.open {
    position: relative;
    max-height: 500px; /* Adjust based on content */
    z-index: 99;
}
.menu3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.5s ease, filter 0.5s ease;
    position: relative;
    z-index: 99;
}
.menu3.open ul {
    opacity: 1;
    filter: blur(0);
    position: relative;
    z-index: 99;
}
.menu3 li {
    padding: 2%;
    text-align: center;
    border-bottom: calc(0.5dvh + 0.5vw) dotted rgba(255, 255, 255, 0.29);
    /*border-bottom: 1px solid #ffffff;*/
    text-decoration: none;
    position: relative;
    z-index: 99;
}

.menu3 a {

    color: #ffffff;
    text-decoration: none;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: calc(4dvh + 4vw);
    line-height: calc(4dvh + 4vw);
    background-color: rgba(255, 247, 153, 0);
    position: relative;
    z-index: 200;
    letter-spacing: -0.03em;
    transition: font-size 0.1s ease, opacity 0.3s ease;

}

.menu3 a.clicked {

    font-size: calc(3.5dvh + 3.5vw);
    opacity: 0.8;
    color: var(--button-color);

}

/* FINE men첫 a tendina versione mobile */

/* ******************** FINE PRIMA PAGINA ******************** */

/* ****************** INIZIO SECONDA PAGINA ****************** */
/* INIZIO testo animato */
/* Core functionality */
#animated-text-strip {
    min-height: auto;
    max-height: calc(53dvh + 53vw);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    z-index: 2;
    overflow: hidden;
    mask-image: linear-gradient(to top,
    rgba(255, 255, 255, 0) -5dvh,
    rgb(255, 0, 84) 0
    );
    background-size: 100% 100%, 100% 100%;
    margin-bottom: 10vmin;
}

#animated-text-strip::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
}

#animated-text-strip::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: calc(0.7dvh + 0.7vw);
    /*border: calc(0.23dvh + 0.23vw) solid var(--bgc);*/
    border: calc(0.23dvh + 0.23vw) solid #000000;
    box-shadow: 0 0 0 calc(2dvh + 2vw) #ffffff;
}

#animated-text-strip .marquee {
    white-space: nowrap;
    animation: marquee 5s linear infinite;
    max-width: none;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -100%);
    }
}

/* Styles for the sake of the demonstration */
#animated-text-strip{
    padding: 0 calc(0.4dvh + 0.4vw) 0 0;
}
.marquee{

    border-top: calc(3dvh + 3vw);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: calc(1.9dvh + 1.9vw);
    font-size: calc(3dvh + 3vw);
    text-transform: uppercase;
    /*color: var(--bgc);*/
    color: var(--bgc);
}
/* FINE testo animato */

/* INIZIO griglia pagina 2 */

.page2 {
    /*grid-template-areas:*/
    /*    ". . . . . . . . . . . . . . . . ."*/
    /*    ". a . . . . . . . . . . . . . . ."*/
    /*    ". . . . . . . . . . d . . . . . ."*/
    /*    ". . . . . . . c . . . . . . . . ."*/
    /*    ". . . . . . . . . . . . . . b . .";*/
}

.item {

}

/*.animated-vertical-text1 { grid-area: a; }*/
/*.polaroid1 { grid-area: b; }*/
/*.cornice1 { grid-area: c; }*/
/*.cartella1 { grid-area: d; }*/
/* FINE griglia pagina 2 */


/* ****************** FINE SECONDA PAGINA ****************** */